@charset "UTF-8";
:root {
  --fisrt-text-color: #2196f3;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --general-text-color: #757575;
  --footer-nav-text-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #000000;
  --first-background-color: #c4c4c4;
  --second-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --head-button-hover-backgr: #188ce8;
  --icon-text-color: #afb1b8;
  --footer-second-bgc: rgba(255, 255, 255, 0.1);
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --delay-time: 250ms;
  --cubic-1: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--third-text-color);
}

body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--fisrt-text-color);
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo2 {
  color: var(--fifth-color);
}

.modal__button {
  border: 1px solid #999999;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--delay-time) var(--cubic-1);
}

.modal__button:hover, .modal__button:focus {
  color: var(--fisrt-text-color);
  transition: color var(--delay-time) var(--cubic-1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  padding-top: 93px;
  padding-right: 15px;
  padding-left: 15px;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  transition: opacity var(--delay-time) var(--cubic-1), visibility var(--delay-time) var(--cubic-1);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: 528px;
  width: calc(100%-30px);
  min-height: 581px;
  padding: 40px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--delay-time) var(--cubic-1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.backdrop.is-hidden .modal {
  transform: rotate(-20deg);
  transition: transform var(--delay-time) var(--cubic-1);
}

.modal__close--icon {
  fill: var(--fifth-color);
}

.modal__close--icon:hover, .modal__close--icon:focus {
  fill: var(--fisrt-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form--head {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (max-width: 1200px) {
  .modal__form--head {
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form--head {
    line-height: 1.15;
  }
}

.modal__form--field {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: var(--general-text-color);
}

.modal__form--field.margin {
  margin-bottom: 10px;
}

.modal__form--field.margin--2 {
  margin-bottom: 20px;
}

.modal__form--wraper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__form--input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--delay-time) var(--cubic-1);
}

.modal__form--input:focus, .modal__form--input:hover {
  outline: none;
  border-color: var(--fisrt-text-color);
  transition: border-color var(--delay-time) var(--cubic-1);
}

.modal__form--icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill var(--delay-time) var(--cubic-1);
}

.modal__form--input:focus + .modal__form--icon,
.modal__form--input:hover + .modal__form--icon {
  fill: var(--fisrt-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.modal__form--message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--delay-time) var(--cubic-1);
}

.modal__form--message:focus {
  outline: none;
  border-color: var(--fisrt-text-color);
  transition: border-color var(--delay-time) var(--cubic-1);
}

.modal__form--message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--accept {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--general-text-color);
}

@media screen and (max-width: 1200px) {
  .modal__form--accept {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form--accept {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__form--accept::before {
  display: block;
  margin-right: 8px;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--second-text-color);
  cursor: pointer;
  border-radius: 2px;
}

.modal__form--checkbox:checked + .modal__form--accept::before {
  background-color: var(--fisrt-text-color);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  border: 1px solid var(--fisrt-text-color);
}

.modal__form--checkbox:checked + .modal__form--accept::before:focus + .modal__form--accept::before {
  outline: 2px solid var(--second-background-color);
}

.modal__form--acceptlink:hover,
.modal__form--acceptlink:focus {
  color: var(--fisrt-text-color);
  text-decoration-line: underline;
}

.modal__form--sendbutton {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 200px;
  height: 50px;
  background-color: var(--fisrt-text-color);
  color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--third-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--delay-time) var(--cubic-1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--fisrt-text-color);
  transition: background-color var(--delay-time) var(--cubic-1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--third-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.join {
  display: inline-block;
}

.join__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join__list {
    margin-bottom: 0px;
  }
}

.join__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.join__item:last-child {
  margin-right: 0px;
}

.join__link {
  background-color: var(--footer-second-bgc);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join__link:hover, .join__link:focus {
  background-color: var(--fisrt-text-color);
  transition: background-color var(--delay-time) var(--cubic-1);
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--third-text-color);
  transition: background-color var(--delay-time) var(--cubic-1);
}

.mailing {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .mailing {
    width: 570px;
  }
}

.mailing__title {
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

@media screen and (min-width: 1200px) {
  .mailing__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__forms {
    display: flex;
    align-items: center;
  }
}

.mailing__sending {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--first-background-color);
  background-color: var(--second-background-color);
}

@media screen and (min-width: 768px) {
  .mailing__sending {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__sending {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing__button {
  height: 50px;
  width: 200px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: var(--fisrt-text-color);
}

.mailing__button:hover, .mailing__button:focus {
  background-color: var(--head-button-hover-backgr);
  transition: background-color var(--delay-time) var(--cubic-1);
}

.mailing__button--text {
  padding: 10px 10px 10px 29px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.mailing__button--icon {
  height: 24px;
  width: 24px;
}

.burger__btn--open {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--third-text-color);
}

.burger__btn--open .burger__icon {
  fill: currentColor;
  transition: fill var(--delay-time) var(--cubic-1);
}

.burger__btn--open:hover .burger__icon,
.burger__btn--open:focus .burger__icon {
  fill: var(--fisrt-text-color);
}

@media screen and (min-width: 768px) {
  .burger__btn--open {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--third-text-color);
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.menu__container.is-open {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobmenu__container {
  position: relative;
  display: flex;
  margin-top: auto;
  height: 100%;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.burger__btn--cross {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  border: none;
  background-color: var(--third-text-color);
}

.burger__btn--cross .burger__icon--cross {
  fill: currentColor;
  transition: fill var(--delay-time) var(--cubic-1);
}

.burger__btn--cross:hover .burger__icon--cross,
.burger__btn--cross:focus .burger__icon--cross {
  fill: var(--fisrt-text-color);
}

.mobile__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__menu--nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__menu--nav-link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--fifth-color);
}

.mobile__menu--current {
  color: var(--fisrt-text-color);
}

.mobile__menu--contact {
  margin-top: auto;
}

.mobile__menu--contact-list {
  margin-bottom: 64px;
}

.mobile__menu--contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__menu--contact-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--general-text-color);
}

.mobile__menu--contact-link.current {
  font-size: 34px;
  line-height: 1.18;
  color: var(--fisrt-text-color);
}

.mobile__menu--socials {
  display: flex;
}

.mobile__menu--socials .mobile__menu--socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile__menu--socials .mobile__menu--socials-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--fisrt-text-color);
}

@media screen and (max-width: 480px) {
  .mobile__menu--socials .mobile__menu--socials-link {
    font-size: 4vw;
  }
}

.header {
  background-color: var(--third-text-color);
  border-bottom: 1px solid;
  color: #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header__container {
    justify-content: space-between;
    position: relative;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

.menu {
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color var(--delay-time) var(--cubic-1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--fisrt-text-color);
  transition: color var(--delay-time) var(--cubic-1);
}

.menu__link--current {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--fisrt-text-color);
}

.menu__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--fisrt-text-color);
  transform: scaleX(1);
}

.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--general-text-color);
}

@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    display: block;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__item:not(:first-child) {
    padding-bottom: 21px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color var(--delay-time) var(--cubic-1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .contacts__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacts__link:hover, .contacts__link:focus {
  transition: color var(--delay-time) var(--cubic-1);
  color: var(--fisrt-text-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--fisrt-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--general-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.hero {
  width: 100%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: var(--first-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero-desktop.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/hero/hero-desktop2x.jpg");
  }
}

.hero__banner {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

@media screen and (min-width: 480px) {
  .hero__banner {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__banner {
    width: 696px;
    font-size: 44px;
    line-height: 1.62;
  }
}

.hero__button {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  background-color: var(--fisrt-text-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
  transition: background-color var(--delay-time) var(--cubic-1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--head-button-hover-backgr);
  transition: background-color var(--delay-time) var(--cubic-1);
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skills__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .skills__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.skills__item {
  width: 100%;
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .skills__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .skills__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.skills__icon--wrap {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: var(--team-background-color);
}

.skills__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.skills__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 30px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 17px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .skills__title {
    text-align: left;
  }
}

.skills__info {
  color: var(--general-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.work__header {
  color: var(--second-text-color);
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work__list {
  display: flex;
}

.work__item {
  margin-right: 30px;
  width: 370px;
  position: relative;
}

.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__text--wrap {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--work-bg-color);
}

.work__text {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.team {
  background-color: var(--team-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .team__header {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
  background-color: var(--third-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__text {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--general-text-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-text-color);
  border-radius: 4px;
  transition: border-color var(--delay-time) var(--cubic-1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--fisrt-text-color);
  transition: border-color var(--delay-time) var(--cubic-1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--fisrt-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}

/*---------------------------Портфолио фильтр---------------------------*/
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-bottom: 0;
  }
}

.filter__button--active {
  padding: 6px 22px;
  background-color: var(--fisrt-text-color);
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color var(--delay-time) var(--cubic-1), background-color var(--delay-time) var(--cubic-1), box-shadow var(--delay-time) var(--cubic-1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--third-text-color);
  background-color: var(--fisrt-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color var(--delay-time) var(--cubic-1), background-color var(--delay-time) var(--cubic-1), box-shadow var(--delay-time) var(--cubic-1);
}

/*---------------------------Портфолио---------------------------*/
.portfolio__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  cursor: pointer;
  background-color: var(--third-text-color);
  box-sizing: border-box;
  transition: box-shadow var(--delay-time) var(--cubic-1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow var(--delay-time) var(--cubic-1);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--delay-time) var(--cubic-1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--delay-time) var(--cubic-1);
}

.portfolio__link:hover .portfolio__img--text,
.portfolio__link:focus .portfolio__img--text {
  transform: translateY(-100%);
  transition: transform var(--delay-time) var(--cubic-1);
}

.portfolio__link--wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__img--text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--delay-time) var(--cubic-1);
}

/*---------------------------Елементи списка портфолио---------------------------*/
.project {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--general-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.info {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .info {
    text-align: left;
    margin-bottom: 0;
  }
}

.info__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fisrt-text-color);
}

@media screen and (min-width: 1200px) {
  .info__logo {
    text-align: left;
  }
}

.info__logo--part2 {
  color: var(--third-text-color);
}

.info__adress {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.info__item:not(:last-child) {
  margin-bottom: 9px;
}

.info__mailtel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--footer-nav-text-color);
  transition: color var(--delay-time) var(--cubic-1);
}

.info__mailtel:hover, .info__mailtel:focus {
  color: var(--fisrt-text-color);
  transition: color var(--delay-time) var(--cubic-1);
}
/*# sourceMappingURL=main.css.map */