:root {
  --fist-text-color: #2196f3;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --general-text-color: #757575;
  --footer-nav-text-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #000000;
  --first-background-color: #c4c4c4;
  --second-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --head-button-hover-backgr: #188ce8;
  --icon-text-color: #afb1b8;
  --footer-second-bgc: rgba(255, 255, 255, 0.1);
  --work-bg-color: rgba(47, 48, 58, 0.8);
  --delay-time: 250ms;
  --cubic-1: cubic-bezier(0.4, 0, 0.2, 1);
}
