.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer__container {
  text-align: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.info {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    text-align: left;
    margin-bottom: 0;
  }
}

.info__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fisrt-text-color);
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.info__logo--part2 {
  color: var(--third-text-color);
}

.info__adress {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.info__item:not(:last-child) {
  margin-bottom: 9px;
}

.info__mailtel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;

  color: var(--footer-nav-text-color);
  transition: color var(--delay-time) var(--cubic-1);

  &:hover,
  &:focus {
    color: var(--fisrt-text-color);
    transition: color var(--delay-time) var(--cubic-1);
  }
}
