.hero {
  width: 100%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-color: var(--first-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('/images/hero/hero.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 480px;
  height: 400px;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('/images/hero/hero2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('/images/hero/hero-tablet.jpg');

    max-width: 768px;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('/images/hero/hero-tablet2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('/images/hero/hero-desktop.jpg');

    max-width: 1600px;
    height: 600px;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('/images/hero/hero-desktop2x.jpg');
    }
  }
}

.hero__banner {
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--third-text-color);

  @media screen and (min-width: $mobile) {
    width: 360px;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.62;
  }
}
.hero__button {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  background-color: var(--fisrt-text-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
  transition: background-color var(--delay-time) var(--cubic-1);

  &:hover,
  &:focus {
    background-color: var(--head-button-hover-backgr);
    transition: background-color var(--delay-time) var(--cubic-1);
  }
}
