/*---------------------------Портфолио фильтр---------------------------*/

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: -15px;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.filter__item {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.filter__button--active {
  padding: 6px 22px;
  background-color: var(--fisrt-text-color);
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color var(--delay-time) var(--cubic-1),
    background-color var(--delay-time) var(--cubic-1),
    box-shadow var(--delay-time) var(--cubic-1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--fisrt-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color var(--delay-time) var(--cubic-1),
      background-color var(--delay-time) var(--cubic-1),
      box-shadow var(--delay-time) var(--cubic-1);
  }
}

/*---------------------------Портфолио---------------------------*/

.portfolio__list {
  margin-bottom: -30px;
  @media screen and(min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  background-color: var(--third-text-color);
  transition: box-shadow var(--delay-time) var(--cubic-1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow var(--delay-time) var(--cubic-1);
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--delay-time) var(--cubic-1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow var(--delay-time) var(--cubic-1);
  }

  &:hover .portfolio__img--text,
  &:focus .portfolio__img--text {
    transform: translateY(-100%);
    transition: transform var(--delay-time) var(--cubic-1);
  }
}

.portfolio__link--wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__img--text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0%;
  overflow: scroll;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 74px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--delay-time) var(--cubic-1);
}

/*---------------------------Елементи списка портфолио---------------------------*/

.project {
  padding: 20px 24px;
  border-top: 0;
  @media screen and (min-width: $tablet) {
    flex-grow: 1;
  }
}

.project__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  color: var(--general-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
