.join {
  margin-right: 70px;
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.join__list {
  display: flex;
}

.join__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.join__link {
  background-color: var(--footer-second-bgc);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: var(--fist-text-color);
    transition: background-color var(--delay-time) var(--cubic-1);
  }
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--third-text-color);
  transition: background-color var(--delay-time) var(--cubic-1);
}
