.mailing {
  width: 100%;
  text-align: center;
  @media screen and(min-width: $desktop) {
    width: 570px;
  }
}

.mailing__title {
  display: block;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.mailing__forms {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.mailing__sending {
  display: block;
  width: 100%;

  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--first-background-color);
  background-color: var(--second-background-color);

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing__button {
  height: 50px;
  width: 200px;

  display: inline-flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background-color: var(--fisrt-text-color);

  &:hover,
  &:focus {
    background-color: var(--head-button-hover-backgr);
    transition: background-color var(--delay-time) var(--cubic-1);
  }
}

.mailing__button--text {
  padding: 10px 10px 10px 29px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.mailing__button--icon {
  height: 24px;
  width: 24px;
}
