.mailing {
  margin-right: auto;
}

.mailing__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.mailing__forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing__sending {
  display: flex;
  height: 50px;
  width: 358px;
  padding: 15px 0 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var(--first-background-color);
  background-color: var(--second-background-color);
}

.mailing__button {
  display: flex;
  height: 50px;
  width: 200px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background-color: var(--fist-text-color);
}

.mailing__button--text {
  padding: 10px 10px 10px 29px;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
}

.mailing__button--icon {
  height: 24px;
  width: 24px;
}
