.burger__btn--open {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--third-text-color);

  .burger__icon {
    fill: currentColor;
    transition: fill var(--delay-time) var(--cubic-1);
  }

  &:hover .burger__icon,
  &:focus .burger__icon {
    fill: var(--fisrt-text-color);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--third-text-color);
  width: 100vw;
  height: 100vh;
  z-index: 20;
}
.menu__container.is-open {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobmenu__container {
  position: relative;
  display: flex;
  margin-top: auto;
  height: 100%;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.burger__btn--cross {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  border: none;
  background-color: var(--third-text-color);

  & .burger__icon--cross {
    fill: currentColor;
    transition: fill var(--delay-time) var(--cubic-1);
  }

  &:hover .burger__icon--cross,
  &:focus .burger__icon--cross {
    fill: var(--fisrt-text-color);
  }
}
.mobile__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__menu--nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile__menu--nav-link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--fifth-color);
}
.mobile__menu--current {
  color: var(--fisrt-text-color);
}
.mobile__menu--contact {
  margin-top: auto;
}
.mobile__menu--contact-list {
  margin-bottom: 64px;
}

.mobile__menu--contact-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile__menu--contact-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--general-text-color);
  &.current {
    font-size: 34px;
    line-height: 1.18;
    color: var(--fisrt-text-color);
  }
}
.mobile__menu--socials {
  display: flex;

  .mobile__menu--socials-item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      margin-right: 10px;
    }
  }
  .mobile__menu--socials-link {
    font-size: 18px;
    line-height: 1.22;
    color: var(--fisrt-text-color);

    @media screen and (max-width: $mobile) {
      font-size: 4vw;
    }
  }
}
