.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--third-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--delay-time) var(--cubic-1);

  &:hover,
  &:focus {
    background-color: var(--fist-text-color);
    transition: background-color var(--delay-time) var(--cubic-1);
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: var(--third-text-color);
    transition: fill var(--delay-time) var(--cubic-1);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-text-color);
  transition: fill var(--delay-time) var(--cubic-1);
}
