body {
  font-family: "Roboto", sans-serif;
  background-color: var(--third-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
